In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas

In [3]:
pandas.__version__

'1.2.4'

In [4]:
import pandas as pd

In [6]:
s1 = pd.Series([1,2,3,"APSSDC"])
print(s1)
print(type(s1))

0         1
1         2
2         3
3    APSSDC
dtype: object
<class 'pandas.core.series.Series'>

In [9]:
s1 = pd.Series([1,2,3,"APSSDC"],index=['x1'])
print(s1)
print(type(s1))

ValueError: Length of passed values is 4, index implies 1.

In [12]:
s2=pd.Series((1,2,3,4))
print(s2)
s2.index=[11,12,13,15]
s2

0    1
1    2
2    3
3    4
dtype: int64

11    1
12    2
13    3
15    4
dtype: int64

In [18]:
import numpy as np
s3=pd.Series(np.arrange(1,10))
print(s3)
print(type(s3))

AttributeError: module 'numpy' has no attribute 'arrange'

In [15]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [16]:
s2.index

Int64Index([11, 12, 13, 15], dtype='int64')

In [17]:
s3.index

NameError: name 's3' is not defined

In [19]:
s2.cumsum()

11     1
12     3
13     6
15    10
dtype: int64

In [21]:
import pandas as pd
d1=pd.data_range('01-01-2021',periods =10)
d1

AttributeError: module 'pandas' has no attribute 'data_range'

In [22]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [23]:
import pandas as pd
d1=pd.data_range('01-01-2021',periods =10)
d1

AttributeError: module 'pandas' has no attribute 'data_range'

In [25]:
import pandas as pd
date=pd.Series(pd.date_range(start = '01-01-2021',end = '02-02-2021',freq='5s'))
print(date)
print(type(date))

0        2021-01-01 00:00:00
1        2021-01-01 00:00:05
2        2021-01-01 00:00:10
3        2021-01-01 00:00:15
4        2021-01-01 00:00:20
                 ...
552956   2021-02-01 23:59:40
552957   2021-02-01 23:59:45
552958   2021-02-01 23:59:50
552959   2021-02-01 23:59:55
552960   2021-02-02 00:00:00
Length: 552961, dtype: datetime64[ns]
<class 'pandas.core.series.Series'>

In [28]:
import pandas as p1
import numpy as np
df1=p1.DataFrame([[1,2,3],[4,5,'apssdc']])
df2=p1.DataFrame((1,3),(1,2))
df3=p1.DataFrame({"k1":[1,12],"m2":[22,23]})
df4=p1.DataFrame(np.array([[1,3,5],[2,2,5]]))
print(df1)
print(df2)
print(df3)
print(df4)

   0  1       2
0  1  2       3
1  4  5  apssdc
   0
1  1
2  3
   k1  m2
0   1  22
1  12  23
   0  1  2
0  1  3  5
1  2  2  5

In [29]:
import pandas as p1
import numpy as np
df1=p1.DataFrame([[1,2,3],[4,5,'apssdc']])
df2=p1.DataFrame((1,3),(1,2))
df4=p1.DataFrame(np.array([[1,3,5],[2,2,5]]))
print(df1)
print(df2)
print(df4)

   0  1       2
0  1  2       3
1  4  5  apssdc
   0
1  1
2  3
   0  1  2
0  1  3  5
1  2  2  5

In [30]:
import pandas as p1
import numpy as np
df1=p1.DataFrame([[1,2,3],[4,5,'apssdc']])
df2=p1.DataFrame((1,3),(1,2))
df3=p1.DataFrame({"k1":[1,12],"m2":[22,23]})
df4=p1.DataFrame(np.array([[1,3,5],[2,2,5]]))
print(df1)
print(df2)
print(df3)
print(df4)

   0  1       2
0  1  2       3
1  4  5  apssdc
   0
1  1
2  3
   k1  m2
0   1  22
1  12  23
   0  1  2
0  1  3  5
1  2  2  5

In [31]:
df3.columns=["column1","column2"]
df3.index=["row1","row2"]
df3

      column1  column2
row1        1       22
row2       12       23

In [32]:
df3.index

Index(['row1', 'row2'], dtype='object')

In [37]:
import numpy as np
import pandas as pd
d1={"rollno":['182U1A04G' +str(i) for i in range(1,101)],
             'm1':np.random.randint(1,100,100),
             'm2':np.random.randint(1,100,100),
             'm4':np.random.randint(1,100,100)}
df=pd.DataFrame(d1)

In [42]:
import numpy as np
import pandas as pd
d1={"rollno":['19BTH' +str(i) for i in range(1,101)],
             'm1':np.random.randint(1,100,100),
             'm2':np.random.randint(1,100,100),
             'm3':np.random.randint(1,100,100)}
df=pd.DataFrame(d1)
df

      rollno  m1  m2  m3
0     19BTH1  30   1  85
1     19BTH2  34  39  83
2     19BTH3  88  57  64
3     19BTH4  59  58  39
4     19BTH5  33  41  68
..       ...  ..  ..  ..
95   19BTH96  13  46  76
96   19BTH97  46  38  10
97   19BTH98  74  33  31
98   19BTH99  10  99  87
99  19BTH100  10  81  83

[100 rows x 4 columns]

In [43]:
import numpy as np
import pandas as pd
d1={"rollno":['182U1A04G' +str(i) for i in range(1,101)],
             'm1':np.random.randint(1,100,100),
             'm2':np.random.randint(1,100,100),
             'm4':np.random.randint(1,100,100)}
df=pd.DataFrame(d1)
df

          rollno  m1  m2  m4
0     182U1A04G1  34  66  37
1     182U1A04G2  23  90  25
2     182U1A04G3  64  61  17
3     182U1A04G4  92  80  82
4     182U1A04G5  67  15  74
..           ...  ..  ..  ..
95   182U1A04G96  52  25  52
96   182U1A04G97   8  16  85
97   182U1A04G98  51  72   7
98   182U1A04G99  63  12   2
99  182U1A04G100  66  66   6

[100 rows x 4 columns]

In [44]:
df.head()

       rollno  m1  m2  m4
0  182U1A04G1  34  66  37
1  182U1A04G2  23  90  25
2  182U1A04G3  64  61  17
3  182U1A04G4  92  80  82
4  182U1A04G5  67  15  74

In [47]:
df['rollno']

0       182U1A04G1
1       182U1A04G2
2       182U1A04G3
3       182U1A04G4
4       182U1A04G5
          ...
95     182U1A04G96
96     182U1A04G97
97     182U1A04G98
98     182U1A04G99
99    182U1A04G100
Name: rollno, Length: 100, dtype: object

In [50]:
df[["rollno",'m2']]

          rollno  m2
0     182U1A04G1  66
1     182U1A04G2  90
2     182U1A04G3  61
3     182U1A04G4  80
4     182U1A04G5  15
..           ...  ..
95   182U1A04G96  25
96   182U1A04G97  16
97   182U1A04G98  72
98   182U1A04G99  12
99  182U1A04G100  66

[100 rows x 2 columns]

In [51]:
df.head()

       rollno  m1  m2  m4
0  182U1A04G1  34  66  37
1  182U1A04G2  23  90  25
2  182U1A04G3  64  61  17
3  182U1A04G4  92  80  82
4  182U1A04G5  67  15  74

In [54]:
df.iloc[0]

rollno    182U1A04G1
m1                34
m2                66
m4                37
Name: 0, dtype: object

In [56]:
df.iloc[0:10][['rollno','m2']]

        rollno  m2
0   182U1A04G1  66
1   182U1A04G2  90
2   182U1A04G3  61
3   182U1A04G4  80
4   182U1A04G5  15
5   182U1A04G6  83
6   182U1A04G7  93
7   182U1A04G8  69
8   182U1A04G9  82
9  182U1A04G10  18